/*очищение стилей*/
*,
html,
body {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
} /*блочный вид*/

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1; /*высотой строки или межстрочным интервалом.*/
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
} /*разрешить наследовать семейство шрифтов*/

input::-ms-clear {
  display: none;
} /*удвляет крестик в поле ввода*/
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  */
:root {
  --font-family: "Nunito", sans-serif;
  --second-family: "Quicksand", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fff8f5 0%, #ffece5 100%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(30, 129, 204, 0.2);
  background: linear-gradient(180deg, #ffece5 0%, #fff8f5 100%);
  border: 1px solid rgba(255, 157, 131, 0.3);
  border-radius: 20px;
  min-height: 90%;
  width: 900px;
  padding: 20px;
}
.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: #ff7751;
}
.logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
}
.logo > span {
  color: #8fc638;
}
.main {
  flex: 1 1 auto;
}
