/*очищение стилей*/
*,
html,
body {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
} /*блочный вид*/

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1; /*высотой строки или межстрочным интервалом.*/
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
} /*разрешить наследовать семейство шрифтов*/

input::-ms-clear {
  display: none;
} /*удвляет крестик в поле ввода*/
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  color: inherit;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*  */
:root {
  --font-family: "Nunito", sans-serif;
  --second-family: "Quicksand", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #fff8f5 0%, #ffece5 100%);
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 5px 15px 0 rgba(30, 129, 204, 0.2);
  background: linear-gradient(180deg, #ffece5 0%, #fff8f5 100%);

  border-radius: 20px;
  min-height: 90%;
  width: 900px;
  padding: 20px;
}
.header {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  color: #ff7751;
}
.logo {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
}
.logo > span {
  color: #8fc638;
}
.main {
  display: flex;
  justify-content: center;
}
.cover {
  max-width: 600px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cover > input {
  display: none;
}
.css-meme-slider {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 300px;
  background-color: #8fc638;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}

.css-meme-slide {
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  img {
    height: auto;
    width: 100%;
    width: 600px;
  }
}
.css-meme-slider_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: inherit;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  align-self: flex-start;
}
.css-meme-slide_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  position: absolute;
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  color: #242851;
}

.controls {
  display: flex;
  justify-content: start;
  align-self: center;
  gap: 6px;
}
.controls__item {
  display: block;
  padding: 6px;
  cursor: pointer;
  border-radius: 20px;
}
.controls__item > span {
  display: block;
  background: url(./img/element-1.png) center / cover no-repeat;
  width: 22px;
  height: 22px;
}

.css-meme-slide,
.css-meme-slide_text {
  opacity: 0;
}

.controls__item:hover {
  background-color: #ffece5;
  box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}

#slide-1:checked ~ .controls .controls__item:nth-of-type(1),
#slide-2:checked ~ .controls .controls__item:nth-of-type(2),
#slide-3:checked ~ .controls .controls__item:nth-of-type(3),
#slide-4:checked ~ .controls .controls__item:nth-of-type(4) {
  background-color: #ffece5;
  box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2) inset;
}
#slide-1:checked ~ .css-meme-slider > .slide-1,
#slide-2:checked ~ .css-meme-slider > .slide-2,
#slide-3:checked ~ .css-meme-slider > .slide-3,
#slide-4:checked ~ .css-meme-slider > .slide-4 {
  transition: all 0.6s;
  opacity: 1;
}
#slide-1:checked ~ .css-meme-slider_text > .slide-1,
#slide-2:checked ~ .css-meme-slider_text > .slide-2,
#slide-3:checked ~ .css-meme-slider_text > .slide-3,
#slide-4:checked ~ .css-meme-slider_text > .slide-4 {
  transition: all 0.6s;

  opacity: 1;
}

@media (max-width: 500px) {
  .css-meme-slide_text {
    font-size: 12px;
  }
  .controls__item > span {
    width: 12px;
    height: 12px;
  }
  .controls {
    gap: 2px;
  }
  .controls__item {
    padding: 2px;
  }
}
@media (min-width: 320.9px) {
  .cover {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: auto auto;
  }
  .css-meme-slider {
    grid-column: span 2;
  }
  .controls {
    order: 2;
    align-items: flex-start;
    align-self: flex-start;
  }
  .css-meme-slider_text {
    align-items: flex-start;
  }
  .css-meme-slide_text {
    justify-content: start;
  }
}
